.outline
  border: .1rem solid black
  border-radius: 2rem

.card
  width: 33rem
  padding: 1.5rem
  font-size: 1.4rem
  margin: 5rem auto auto 6rem
  &__temperature
    display: flex
    justify-content: space-between
    &_heading
      margin-bottom: 1.5rem
    p
      font-weight: 800
      font-size: 1.6rem

  &__icons
    display: flex
    justify-content: space-between
    margin-bottom: 1.5rem
    input
      width: 4rem
      height: 4rem