*
  margin: 0
  padding: 0
  box-sizing: border-box

html
  font-size: 62.5%

.input
  width: 70rem
  height: 4rem
  border-radius: 2rem
  border: .3rem solid black
  padding: 0 5rem
  position: relative

.search_icon
  width: 2.5rem
  height: 2.5rem
  position: absolute
  top: .7rem
  left: 1.4rem
  z-index: 2

.close_icon
  width: 1.5rem
  height: 1.5rem
  position: absolute
  top: 1.2rem
  left: 65.4rem
  z-index: 2

input[type="search"]::-webkit-search-cancel-button
  -webkit-appearance: none
  width: 1.5rem
  height: 1.5rem
  background: url("../icons/close.png")